.qrcontainer {
  width: 220px;
  height: 400px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  place-items: center;
  border-radius: 10px;
  background-color: white;
}

.qrcard {
  width: 300px;
  height: 300px;
  padding: 10px;
}

.qrcard img {
  object-fit: fill;
  border-radius: 10px;
}

.textBox{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qrtitle{
    text-align: center;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

.qrdesc{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}

@media (max-width: 375px) {
    .qrcontainer {
        width: fit-content;
      }

  }